<h1><%= @breed.name %></h1>
<p><%= @breed.description %></p>

<div class="grid">
  <% @breed.images.each do |image| %>
    <div class="image-item">
      <img src="<%= image.url %>" alt="<%= @breed.name %>">
    </div>
  <% end %>
</div>
