<h1><%= @breed.name %></h1>

<div class="back-button">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary' %>
</div>

<div class="grid">
  <% @breed.images.each do |image| %>
    <div class="image-item">
      <img src="<%= image.url %>" alt="<%= @breed.name %>">
    </div>
  <% end %>
</div>
