/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .breed-img {
  width: 100%; /* Ensures the image takes up the full width of the column */
  height: 300px; /* Set a fixed height for consistency */
  object-fit: cover; /* Ensures the image is cropped to fit the size */
}

.breed-item {
  margin-bottom: 0; /* Removes margin below each breed item */
}


.back-button {
  margin-bottom: 20px;
}

.alphabet-filter {
  margin-bottom: 20px;
  font-size: 18px;
}

.alphabet-filter a {
  margin: 0 5px;
  text-decoration: none;
  color: #007bff;
}

.alphabet-filter a:hover {
  text-decoration: underline;
}

